.ct-label { color: rgb(255,255,255); fill: rgb(255,255,255); }
.ct-series-a .ct-area, .ct-series-a .ct-slice-donut-solid, .ct-series-a .ct-slice-pie { fill: #2196f3; }
.ct-series-b .ct-area, .ct-series-b .ct-slice-donut-solid, .ct-series-b .ct-slice-pie { fill: #00bcd4; }
.ct-series-c .ct-area, .ct-series-c .ct-slice-donut-solid, .ct-series-c .ct-slice-pie { fill: #9c27b0; }
.ct-series-d .ct-area, .ct-series-d .ct-slice-donut-solid, .ct-series-d .ct-slice-pie { fill: #4caf50; }
.rem-indigo { color: #3f51b5; }
.rem-blue { color: #f44336; }
.rem-light-blue { color: #03a9f4; }
.rem-cyan { color: #2196f3; }
.rem-teal { color: #009688; }
.rem-green { color: #673ab7; }
.rem-light-green { color: #8bc34a; }
.rem-lime { color: #cddc39; }
.rem-yellow { color: #ffeb3b; }
.rem-amber { color: #ffc107; }
.rem-orange { color: #ff9800; }
.rem-deep-orange { color: #ff5722; }
.rem-brown { color: #795548; }
.rem-grey { color: #9e9e9e; }
.rem-blue-grey { color: #607d8b; }
.rem-black { color: #000000; }
.rem-white { color: #ffffff; }
.ct-series-a .ct-bar, .ct-series-a .ct-line, .ct-series-a .ct-point, .ct-series-a .ct-slice-donut { stroke: #e91e63; }
.ct-series-b .ct-bar, .ct-series-b .ct-line, .ct-series-b .ct-point, .ct-series-b .ct-slice-donut { stroke: #00bcd4; }
.ct-series-c .ct-bar, .ct-series-c .ct-line, .ct-series-c .ct-point, .ct-series-c .ct-slice-donut { stroke: #9c27b0; }
.ct-series-d .ct-bar, .ct-series-d .ct-line, .ct-series-d .ct-point, .ct-series-d .ct-slice-donut { stroke: #4caf50; }
