.rendered-accordion {
    display: flex;
    flex-direction: column;
    align-items: center;
    -ennerd-border: 1px dashed #eee;
    padding: 0.2rem 0;
    margin: 0;
    margin-bottom: 1rem;
}
.rendered-accordion-pane {
    width: 100%;
}
.rendered-accordion-title {
    font-size: 1.2em;
    font-weight: normal;
    margin-right: 0.5em;
    padding: 0.2em 0.5em;
    box-shadow: 0px 1px 4px rgba(0,0,0,0.2);
    display: block;
    cursor: pointer;
}
.rendered-accordion-active .rendered-accordion-title {
    font-weight: bold;
}
.rendered-accordion-contents {
    transition: all 0.4s;
    padding: 0em 0.5em;
    height: 1px;
    overflow: hidden;
}
.rendered-accordion-active .rendered-accordion-contents {
    height: initial;
    padding: 1em 0.5em;
}
