.rendered {
    display: flex;
    flex-direction: column;
}
.rendered-cols {
    display: flex;
}
.rendered-cols > .rendered {
    flex: 1;
}
.rendered-field {
    margin: 0;
    margin-bottom: 1rem;
}
.rendered {
}
.rendered-caption {
    font-weight: bold;
}
.rendered-field > * {
    display: block;
    margin: 0;
}
.rendered .sortable-blocks .block .contents {
    display: table-row;
}
.rendered .sortable-blocks .block .contents .repeater-field {
    display: table-cell;
}
.rendered-html {
    padding-bottom: 1rem;
}