html {
    height: 100%;
}
body {
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
}
body {
    font-family: 'Barlow', sans-serif;
    margin: 0;
    font-size: 16px;
}
*[onclick] { cursor: pointer; }
a {
    color: #484;
}
table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}
table td, table th {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 16px;
}
table th {
    text-align: left;
    color: #444;
    font-family: 'Barlow', sans-serif;
    font-weight: normal;
}
table thead a {
    color: inherit;
    text-decoration: inherit;
}
table thead a:hover {
    color: inherit;
    text-decoration: inherit;
}
table thead th {
    font-size: 0.9em;
    border-bottom: 2px solid #eee;
}
table a.dynatable-sort-header {
    display: block;
    padding: 0.3em 0.3em 0.3em 0;
    transition: padding 0.2s;
}
table a.dynatable-sort-header:hover {
    background-color: #f5f5f5;
    padding: 0.3em 0.3em 0.3em 0.3em;
}
.dynatable-record-count {
    font-size: 0.7em;
    margin-top: 0.3rem;
}
table tbody tr[data-href]:hover td, table tbody tr[onclick]:hover td {
    background-color: #eee;
    cursor: pointer;
}
hr {
	border: 0;
	border-top: 1px solid #e5e5e5;
}
h1,h2,h3,h4,h5,h6 {
	font-family: "Helvetica Neue", "Tahoma", Arial, sans-serif;
	font-weight: normal;
}
h1 {
	font-size: 1.7em;
}
h2 {
	margin-top: 2rem;
}
.theme-main h1:first-child {
	background-color: #f8f8f8;
	margin: 0 -2rem;
	margin-bottom: 1rem;
	padding: 1rem 2rem 1rem 2rem;
	border: 1px solid #fff;
	border-bottom: 1px solid #ddd;
}
.theme-main hr {
    margin-left: -2em;
    margin-right: -2em;
}
/* Tables used to display data in a form style */
table.form th {
    width: 10rem;
}
@media (max-width: 1000px) {
    table.form th {
        width: 6rem;
    }
}
body.mobile table.form th, body.mobile table.form td {
    display: block;
}

/* Theme Body */
.theme-body {
    position: absolute;
    top: 4rem;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
}

/* Theme Main Area */
.theme-main {
    flex: 1;
    overflow-y: auto;
    position: relative;
}
/* Used to create padding */
.theme-main .padding {
    padding: 0 2rem;
}
/* Vertical layout. One box should have .grow class */
.theme-main .vertical {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    min-height: 100%;
}
/* Horizontal layout. One box should have .grow class */
.theme-main .horizontal {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    min-height: 100%;
}
/* The box will grow to consume all available space within a flexbox like .vertical or .horizontal */
.theme-main .grow {
    flex: 1;
}
/* The box will have a background color, suitable to separate secondary content */
.theme-main .background {
    border-top: 1px solid #cccccc;
    background-color: #eeeeee;
}
/* Boxes in horizontal layout should have a left border */
.theme-main .horizontal .background {
    border-left: 1px solid #cccccc;
}
.theme-main .max-width {
    max-width: 50rem;
}
/* /Theme Main Area */

/* Theme Header */
body {
    padding-top: 4rem;
}
.theme-header {
    position: fixed;
    display: flex;
    left: 0;
    top: 0;
    width: 100%;
    border-bottom: 1px solid #cccccc;
    transition: box-shadow 0.4s;
    background-color: #fff;
    z-index: 11000;
}
body.scrolled .theme-header {
    box-shadow: 0px 3px 10px rgba(0,0,0,0.25);
}
.theme-header .logo {
    flex: 0 15rem;
    display: flex;
    height: 4rem;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
    text-align: center;
}
.theme-header .logo strong {
    white-space: nowrap;
}
.theme-header .nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    height: 100%;
}
.theme-header .nav ul li {
    display: flex;
    align-items: center;
    padding: 0 1rem 0 0;
}

/* /Theme Header */

/* Theme Menu */
body.mobile {
    padding-left: 0;
}
.nav-and-main {
    display: flex;
    width: 100%;
}
.theme-nav {
    flex: 0 0 15rem;
    border-top: 1px solid #eee;
    border-right: 2px solid #eee;
    background-color: #ffffff;
    z-index: 10000;
}
body.mobile {
    
}
body.mobile .theme-nav {
    display: none;
}

/* /Theme Menu */

/* Form Styling */
.removed.f-form {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.f-form .field {
    position: relative;
    display: flex;
    padding-bottom: 1rem;
    align-items: center;
    flex-wrap: wrap;
}
.f-form .field .error-wrap {
    position: absolute;
    top: -0.4rem;
    right: 0.2rem;
    font-size: 0.8rem;
    font-weight: bold;
    color: #844;
}
.f-form .field .label-wrap {
    flex: 0 10rem;
}
.f-form .field .label-wrap label {
    width: 100%;
}
.f-form .field .field-wrap, .f-form .field .double-field-wrap {
    flex: 1;
    display: flex;
}
.f-form .field .f-label {
    flex: 100%;
}
.f-form .field .f-picker, .f-form .field .f-creater {
    flex: 0 0 30px;
    line-height: 2rem;
    margin-top: 1rem;
    padding: 0.2rem 1rem;
}
.f-form .field select, .f-form .field input[type="text"], .f-form .field input[type="url"],.f-form .field input[type="password"],.f-form .field input[type="email"],.f-form .field input[type="datetime"],.f-form .field input[type="datetime-local"], .f-form .field textarea, .f-form .field .f-value {
    flex: 1;
    
    min-width: 15rem;
    font-size: 1.2rem;
    border: 0;
    border-bottom: 1px solid #aaa;
    padding: 0.6rem;
    outline-width: 0;
    transition: box-shadow 0.4s;
    font-family: 'Barlow', sans-serif;
    box-sizing: border-box;
}
.f-form .field div.f-value {
    border-bottom: 1px dashed #eee;
}
.f-form .field div.f-value input[type="checkbox"] + .value-label {
    content: "Yes";
}
.f-form .radios.field fieldset {
    display: flex;
    border: none;
}
.f-form .radios.field fieldset label {
    padding: 0.2rem;
}


.f-form textarea {
    resize: vertical;
    height: 10rem;
}
.f-form .field input[type="checkbox"] {
    width: initial;
}
.f-form .field input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
}
.f-form .field.text input:focus, .f-form .field.password input:focus, .f-form .field.email input:focus, .f-form .field.datetime input:focus, .f-form .field.textarea textarea:focus {
    box-shadow: 0px 3px 10px rgba(0,0,0,0.25);
}
.f-form .field.checkbox {
    padding-left: 10rem;
}
.f-form .field.checkbox .field-wrap {
    order: 0;
    flex: 0 10rem;
    max-width: 1.2rem;
}
.f-form .field.checkbox .field-wrap input {
    margin-left: auto;
}
.f-form .field.checkbox .label-wrap {
    order: 1;
    flex: 1;
    width: 100%;
    min-width: 15rem;
}
.f-form .buttons {
    display: flex;
    align-items: center;
}
.f-form .buttons > * {
    flex: 0;
    white-space: nowrap;
    margin-right: 1rem;
}
.f-form input[type="checkbox"] {
  outline: 0;
  margin-right: 10px;
  border: 2px solid blue;
}

/* BasicTableForm styling */
.basicform {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    
}
.basicform .field {
    padding-right: 0.5rem;
    box-sizing: border-box;
}
.basicform .field.wide {
    flex: 100%;
}

/* Buttons */
button, input[type=button], input[type=submit], .button {
    font-family: "Helvetica Neue", "Tahoma", Arial, sans-serif;
    font-weight: normal;
    font-size: 0.9em;
    text-decoration: none;
    color: #444;
    background-color: #f5f5f5;
    border: 0px solid #eee;
    padding: 0rem 2rem;
    transition: box-shadow 0.2s, background-color 0.2s;
    outline-width: 0;
    line-height: 3rem;
    display: inline-block;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    box-shadow: 0px 1px 4px rgba(0,0,0,0.4);
    border-radius: 0rem;
}
button.small, input[type=button].small, input[type=submit].small, .button.small {
    font-size: 1rem;
    padding: 0 1rem;
    border-radius: 0;
    line-height: 1.5rem;
}
button svg, input[type=button] svg, input[type=submit] svg, .button svg, .button i {
    position: relative;
    margin-right: -0.3rem;
    left: -0.8rem;
}
button:hover, input[type=button]:hover, input[type=submit]:hover, .button:hover, button:focus, input[type=button]:focus, input[type=submit]:focus, .button:focus  {
    box-shadow: 0px 3px 10px rgba(0,0,0,0.25);
    background-color: #fff;
}
button.disabled, input[type=button].disabled, input[type=submit].disabled, .button.disabled, button[disabled], .button[disabled] {
    color: #aaa;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.3);
    pointer-events: none;
    cursor: default;
}
button:active, input[type=button]:active, input[type=submit]:active, .button:active {
    box-shadow: 0px 1px 4px rgba(0,0,0,0.25);
    transition: all 0s;
}
/* /Buttons */

/* Dropdown menu */
ul.dropdown {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}
ul.dropdown a {
    text-decoration: none;
    display: block;
    padding: 1rem;
    transition: box-shadow 0.2s;
    color: #444;
}
ul.dropdown a:hover {
    box-shadow: 0px 3px 10px rgba(0,0,0,0.25);
}
ul.dropdown a i {
    margin-right: 0.5rem;
}
ul.dropdown li {
}

/* Icon list */
.icons {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}
.icons > * {
    margin: 0;
    padding: 0;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    width: 8rem;
    height: 10rem;
    display: flex;
}

/*
Sortable List of Blocks 

http://api.jqueryui.com/sortable/

$(".sortable-blocks").sortable({ axis: "y", handle: ".handle" });

<div class='sortable-blocks'>
    <div class='block'>
        <div class='handle'>
            <i class='fas fa-bars' />
        </div>
        <div class='contents'>
            Some content
        </div>
        <div class='buttons'>
            <button>Some button</button>
        </div>
    </div>
</div>
*/
.sortable-blocks {
    
}
.sortable-blocks .block {
    border: 0.05rem solid #eee;
    display: flex;
}
.sortable-blocks .block .handle {
    padding: 0.5rem;
}
.sortable-blocks .block .contents {
    padding: 0.5rem;
    flex: 1;
}
.sortable-blocks .block .buttons button, .sortable-blocks .block .buttons input[type=button], .sortable-blocks .block .buttons input[type=submit], .sortable-blocks .block .buttons .button {
   padding: 0.2rem 0.4rem;
   margin: 0.3rem;
   line-height: 1.3rem;
   border-radius: 0;
}
.sortable-blocks .block .buttons button:not(:hover), .sortable-blocks .block .buttons input[type=button]:not(:hover), .sortable-blocks .block .buttons input[type=submit]:not(:hover), .sortable-blocks .block .buttons .button:not(:hover) {
    box-shadow: none;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.0);
}
/* 
Tabs 

<div class='tabs'>
    <a class='tab active'>My tab</a>
    <a class='tab'>Another tab</a>
</div>
*/
.tabs {
    display: flex;
    border-bottom: 0.05rem solid #dddddd;
    margin-bottom: 1rem;
}
.tabs .tab {
    padding: 0.5rem 1rem;
    font-size: 0.85rem;
    cursor: pointer;
    margin-bottom: 0.05rem;
    color: #000;
    border-right: 0.05rem solid transparent;
    border-left: 0.05rem solid transparent;
    border-top: 0.05rem solid transparent;
    transition: all 0.1s;
    text-decoration: none;
}
.tabs .tab.active {
    border-top: 0.05rem solid #ccc;
    border-right: 0.05rem solid #ccc;
    border-left: 0.05rem solid #ccc;
    position: relative;
    top: 0.2rem;
    background-color: white;
    font-weight: bold;
    color: #000;
}
.tabs .tab:hover {
    border-top: 0.05rem solid #ccc;
    border-right: 0.05rem solid #ccc;
    border-left: 0.05rem solid #ccc;
    background-color: white;
    color: #000;
}
.tab-container {
    background-color: white;
    margin-top: -1rem; 
    box-shadow: 0px 3px 10px rgba(0,0,0,0.25);
    padding: 1rem 2rem;
}


/* Icon */
.icon {
    display: flex;
    border: 1px solid #eee;
    transition: box-shadow 0.2s;
    outline-width: 0;
    line-height: 3rem;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.4);
    flex: 1;
    flex-direction: column;
    max-width: 100%;
}
.icon[onclick]:hover, .icon[href]:hover {
    box-shadow: 0px 3px 10px rgba(0,0,0,0.25);
}
.icon .figure {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon .figure img {
    max-width: 100%;
    max-height: 100%;
}
.icon .label {
    flex: 0 2rem;
    overflow: hidden;
    line-height: 2rem;
    text-align: center;
    font-size: 0.9rem;
    max-width: 100%;
    text-overflow: ellipsis;
}

/* Colors */
.red { color: #f44336; }
.pink { color: #e91e63; }
.purple { color: #9c27b0; }
.deep-purple { color: #673ab7; }
.indigo { color: #3f51b5; }
.blue { color: #2196f3; }
.light-blue { color: #03a9f4; }
.cyan { color: #00bcd4; }
.teal { color: #009688; }
.green { color: #4caf50; }
.light-green { color: #8bc34a; }
.lime { color: #cddc39; }
.yellow { color: #ffeb3b; }
.amber { color: #ffc107; }
.orange { color: #ff9800; }
.deep-orange { color: #ff5722; }
.brown { color: #795548; }
.grey { color: #9e9e9e; }
.blue-grey { color: #607d8b; }
.black { color: #000000; }
.white { color: #ffffff; }
.transparent { color: transparent; }


.flex-spacer {
    flex-grow: 1;
}

.dynatable-processing {
    font-size: 0.7em;
    border: 1px solid #eee;
    opacity: 0.7;
    background-color: #fff;
}

input[data-dynatable-query] {
    font-size: 1.2rem;
    border: 0;
    border-bottom: 1px solid #aaa;
    outline-width: 0;
    transition: box-shadow 0.4s;
}

/* Dialogs */
iframe.dialog {
    position: fixed;
    height: 1px;
    width: 100%;
    border: 0;
    background-color: #ffffff;
    z-index: 20000;
    box-shadow: 0 2px 15px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}
iframe.dialog.px100 {
    height: 100px;
}
iframe.dialog.px200 {
    height: 200px;
}
iframe.dialog.px300 {
    height: 300px;
}
iframe.dialog.px400 {
    height: 400px;
}
iframe.dialog.px500 {
    height: 500px;
}
iframe.dialog.px600 {
    height: 600px;
}
iframe.dialog.pst30 {
    height: 30%;
}
iframe.dialog.compact, iframe.dialog.pst40 {
    height: 40%;
}
iframe.dialog.pst50 {
    height: 50%;
}
iframe.dialog.medium, iframe.dialog.pst60 {
    height: 60%;
}
iframe.dialog.pst70 {
    height: 70%;
}
iframe.dialog.tall {
    height: 75%;
}
iframe.dialog.pst80 {
    height: 80%;
}
iframe.dialog.full, iframe.dialog.pst90 {
    height: 90%;
}
div.overlay {
    background-color: #000000;
    opacity: 0.2;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 31000;
    transition: opacity 0.4s;
}
div.overlay.bottom {
    opacity: 0.05;
}
div.overlay.hidden {
    opacity: 0;
}

.dialog.theme-body {
    margin-top: -2.3rem;
}
.dialog.theme-body .theme-header h1 {
    font-size: 1.1rem;
    margin: 0 0 0 2rem;
    line-height: 1.7rem;
}
.dialog.theme-body .theme-header .window-close {
    color: #aaaaaa;
    margin-right: 1rem;
    line-height: 1.7rem;
    font-size: 1.3rem;
}
.dialog.theme-body .theme-header .window-close:hover {
    color: #000000;
}

.two-cols {
    display: flex;
    flex-wrap: wrap;
}
.two-cols > div {
    flex: 0 0 50%;
}

.border-layout {
  display: table;  
  width: 100%
}

.border-layout .top {
	display: table-row;
}

.border-layout .left {
    display: table-cell;
    vertical-align: middle;
    width: 10%;
}

.border-layout .center {
    display: table-cell;
    vertical-align: middle;
}

.border-layout .right {
    display: table-cell;
    vertical-align: middle;
    width: 10%;
  }
  
.border-layout .bottom {
	display: table-row;	
}


p.tip, p.warning {
    border: 1px solid #ccc;
    background-color: #eee;
    padding: 1rem;
    padding-left: 4rem;
    position: relative;
}
p.tip i, p.warning i {
    margin-right: 0.7rem;
    position: absolute;
    left: 1rem;
    top: 0.6rem;
}
p.warning i {
    color: #d00;
}

/* spinkit folding cube */
.sk-folding-cube {
  margin: 20px auto;
  width: 40px;
  height: 40px;
  position: relative;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1); 
}
.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
          animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
      -ms-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
}
.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
          transform: scale(1.1) rotateZ(90deg);
}
.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
          transform: scale(1.1) rotateZ(180deg);
}
.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
          transform: scale(1.1) rotateZ(270deg);
}
.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s; 
}
.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}
@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0; 
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1; 
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0; 
  } 
}

@keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0; 
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1; 
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0; 
  }
}

.boxes .box {
    background-color: #ffffff;
    box-shadow: 0px 1px 4px rgba(0,0,0,0.4);
    border-radius: 0.4rem;
    padding: 0.5rem 2rem;
    margin: 0 0.5rem 0.5rem 0;
}

