.rendered-repeater {
    padding-bottom: 1rem;
}
.rendered-repeater > div .rendered-repeater-block {
    border: 0.05rem solid #eee;
    display: flex;
}
.rendered-repeater-handle {
    padding: 0.5rem;
}
.rendered-repeater-contents {
    display: flex;
    padding: 0.5rem;
    flex: 1;
}
.rendered-repeater-field {
    display: flex;
    flex: 1;
    padding-right: 0.3rem;
}
.rendered-repeater-field:last-child {
    padding-right: 0;
}
.rendered-repeater-buttons {
    display: block;
}
.rendered-repeater-buttons > .button {
    box-shadow: 0px 1px 2px rgba(0,0,0,0.0);
    padding: 0.2rem 0.4rem;
    margin: 0.3rem;
    line-height: 1.3rem;
    border-radius: 0;
    flex: 0;
    white-space: nowrap;
    font-size: 1rem;
    text-decoration: none;
    color: #444;
    background-color: #fff;
    border: 0px solid #eee;
    transition: box-shadow 0.2s;
    outline-width: 0;
    display: inline-block;
    align-items: flex-start;
    text-align: center;
    cursor: default;
    box-sizing: border-box;
}
.rendered-repeater-buttons > .button:hover {
    box-shadow: 0px 3px 10px rgba(0,0,0,0.25);
}
.rendered-repeater-template .rendered-repeater-buttons * {
    visibility: hidden;
}
.rendered-repeater-contents .rendered-repeater-field-checkbox {
    flex: 0;
    align-items: center;
}
.rendered-repeater-contents .rendered-repeater-field button, .rendered-repeater-contents .rendered-repeater-field input {
    font-size: 0.7rem;
    padding: 0.5rem;
    line-height: 1rem;
    margin: 0;
    margin-right: 0.3rem;
    flex: 0;
}
.rendered-repeater-contents .rendered-repeater-field input[type=text] {
    flex: 1;
    border: 0;
    border-bottom: 1px solid #aaa;
    padding: 0.3rem;
    width: 100%;
    box-sizing: border-box;
}
