.rendered-toolbar {
    display: flex;
    align-items: center;
    border: 1px dashed #eee;
    padding: 0.2rem;
    margin: 0;
}
.rendered-toolbar > * {
    margin: 0;
    border-radius: 0;
}
.rendered-toolbar > .rendered-html {
    border-left: 1px dashed #eee;
    margin-left: 0.5rem;
    padding-left: 0.5rem;
    margin-right: 0.5rem;
    padding-right: 0.5rem;
}