.theme-header .window-close {
  cursor: pointer;
}

table:not(.dont-style) td.time, table:not(.dont-style) th.time {
  text-align: right;
}
table:not(.dont-style) tbody tr {
  border-bottom: 2px solid #eee;
}
table:not(.dont-style) tbody tr:nth-child(odd) {
  background: #00000005;
}
table:not(.dont-style) tbody tr td {
  padding: 0.25rem 0;
}
table:not(.dont-style) tbody tr.selectable:hover {
  cursor: pointer;
}
table:not(.dont-style) tbody tr.selectable td {
  background-color: transparent;
}
table:not(.dont-style) tbody tr.selectable:hover td {
  background-color: #eee;
}
table:not(.dont-style) tbody tr.selected td {
  background-color: #f3f3f3;
}

textarea {
  resize: vertical;
}

h1, h2, h3, h4, h5, h6 {
  margin: 1em 0;
}

.buttons {
  margin-bottom: 0.5rem;
}

*:not(.f-form) input,
*:not(.f-form) textarea {
  padding: 10px;
  font-size: 14px;
  border: none;
  border-bottom: 1px solid #999;
}

/*# sourceMappingURL=data:application/json;charset=utf-8,%7B%22version%22:3,%22sourceRoot%22:%22%22,%22sources%22:%5B%22data:;charset=utf-8,$selected-color:%2520%2523f3f3f3;%250A$selectable-color:%2520transparent;%250A$selectable-hover-color:%2520%2523eee;%250A$table-border-color:%2520%2523eee;%250A$table-odd-color:%2520%252300000005;%250A%250A.theme-header%2520.window-close%2520%257B%250A%2520%2520%2520%2520cursor:%2520pointer;%250A%257D%250A%250Atable:not(.dont-style)%2520%257B%250A%2520%2520%2520%2520td.time,%2520th.time%2520%257B%250A%2520%2520%2520%2520%2520%2520%2520%2520text-align:%2520right;%250A%2520%2520%2520%2520%257D%250A%250A%2520%2520%2520%2520tbody%2520%257B%250A%2520%2520%2520%2520%2520%2520%2520%2520tr%2520%257B%250A%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520border-bottom:%25202px%2520solid%2520$table-border-color;%250A%250A%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520&:nth-child(odd)%2520%257B%250A%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520background:%2520$table-odd-color;%250A%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%257D%250A%250A%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520td%2520%257B%250A%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520padding:%2520.25rem%25200;%250A%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%257D%250A%250A%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520&.selectable:hover%2520%257B%250A%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520cursor:%2520pointer;%250A%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%257D%250A%250A%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520&.selectable%2520td%2520%257B%250A%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520background-color:%2520$selectable-color;%250A%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%257D%250A%250A%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520&.selectable:hover%2520td%2520%257B%250A%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520background-color:%2520$selectable-hover-color;%250A%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%257D%250A%250A%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520&.selected%2520td%2520%257B%250A%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520background-color:%2520$selected-color;%250A%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%257D%250A%2520%2520%2520%2520%2520%2520%2520%2520%257D%250A%2520%2520%2520%2520%257D%250A%257D%250A%250Atextarea%2520%257B%250A%2520%2520%2520%2520resize:%2520vertical;%250A%257D%250A%250Ah1,%2520h2,%2520h3,%2520h4,%2520h5,%2520h6%2520%257B%250A%2520%2520%2520%2520margin:%25201em%25200;%250A%257D%250A%250A.buttons%2520%257B%250A%2520%2520%2520%2520margin-bottom:%2520.5rem;%250A%257D%250A%250A*:not(.f-form)%2520input,%250A*:not(.f-form)%2520textarea%2520%257B%250A%2520%2520%2520%2520padding:%252010px;%250A%2520%2520%2520%2520font-size:%252014px;%250A%2520%2520%2520%2520border:%2520none;%250A%2520%2520%2520%2520border-bottom:%25201px%2520solid%2520%2523999;%250A%257D%250A%22%5D,%22names%22:%5B%5D,%22mappings%22:%22AAMA;EACI;;;AAIA;EACI;;AAIA;EACI;;AAEA;EACI,YAhBE;;AAmBN;EACI;;AAGJ;EACI;;AAGJ;EACI,kBA/BG;;AAkCP;EACI,kBAlCS;;AAqCb;EACI,kBAxCC;;;AA8CjB;EACI;;;AAGJ;EACI;;;AAGJ;EACI;;;AAGJ;AAAA;EAEI;EACA;EACA;EACA%22,%22sourcesContent%22:%5B%22$selected-color:%20%23f3f3f3;%5Cn$selectable-color:%20transparent;%5Cn$selectable-hover-color:%20%23eee;%5Cn$table-border-color:%20%23eee;%5Cn$table-odd-color:%20%2300000005;%5Cn%5Cn.theme-header%20.window-close%20%7B%5Cn%20%20%20%20cursor:%20pointer;%5Cn%7D%5Cn%5Cntable:not(.dont-style)%20%7B%5Cn%20%20%20%20td.time,%20th.time%20%7B%5Cn%20%20%20%20%20%20%20%20text-align:%20right;%5Cn%20%20%20%20%7D%5Cn%5Cn%20%20%20%20tbody%20%7B%5Cn%20%20%20%20%20%20%20%20tr%20%7B%5Cn%20%20%20%20%20%20%20%20%20%20%20%20border-bottom:%202px%20solid%20$table-border-color;%5Cn%5Cn%20%20%20%20%20%20%20%20%20%20%20%20&:nth-child(odd)%20%7B%5Cn%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20background:%20$table-odd-color;%5Cn%20%20%20%20%20%20%20%20%20%20%20%20%7D%5Cn%5Cn%20%20%20%20%20%20%20%20%20%20%20%20td%20%7B%5Cn%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20padding:%20.25rem%200;%5Cn%20%20%20%20%20%20%20%20%20%20%20%20%7D%5Cn%5Cn%20%20%20%20%20%20%20%20%20%20%20%20&.selectable:hover%20%7B%5Cn%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20cursor:%20pointer;%5Cn%20%20%20%20%20%20%20%20%20%20%20%20%7D%5Cn%5Cn%20%20%20%20%20%20%20%20%20%20%20%20&.selectable%20td%20%7B%5Cn%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20background-color:%20$selectable-color;%5Cn%20%20%20%20%20%20%20%20%20%20%20%20%7D%5Cn%5Cn%20%20%20%20%20%20%20%20%20%20%20%20&.selectable:hover%20td%20%7B%5Cn%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20background-color:%20$selectable-hover-color;%5Cn%20%20%20%20%20%20%20%20%20%20%20%20%7D%5Cn%5Cn%20%20%20%20%20%20%20%20%20%20%20%20&.selected%20td%20%7B%5Cn%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20background-color:%20$selected-color;%5Cn%20%20%20%20%20%20%20%20%20%20%20%20%7D%5Cn%20%20%20%20%20%20%20%20%7D%5Cn%20%20%20%20%7D%5Cn%7D%5Cn%5Cntextarea%20%7B%5Cn%20%20%20%20resize:%20vertical;%5Cn%7D%5Cn%5Cnh1,%20h2,%20h3,%20h4,%20h5,%20h6%20%7B%5Cn%20%20%20%20margin:%201em%200;%5Cn%7D%5Cn%5Cn.buttons%20%7B%5Cn%20%20%20%20margin-bottom:%20.5rem;%5Cn%7D%5Cn%5Cn*:not(.f-form)%20input,%5Cn*:not(.f-form)%20textarea%20%7B%5Cn%20%20%20%20padding:%2010px;%5Cn%20%20%20%20font-size:%2014px;%5Cn%20%20%20%20border:%20none;%5Cn%20%20%20%20border-bottom:%201px%20solid%20%23999;%5Cn%7D%5Cn%22%5D%7D */
/*  */